.custom-searchbar {
    align-items: center;
    justify-content: center;
}

.custom-searchbar input[type="text"] {
    padding: 20px;
    font-size: 24px;
    border: none;
    border-bottom: 2px solid #cccccc;
    outline: none;
}

.filter-side {
    margin-top: 30px;
}

.custom-searchbar select {
    border: none;
    border-bottom: 2px solid #cccccc;
    outline: none;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: transparent;
}

.custom-searchbar select {
    font-size: 16px;
}

.custom-searchbar select option {
    background-color: #ffffff;
    color: #000000;
}