.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.left-side {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.left-side h1 {
    margin-left: 10px;
}

.right-side button {
    margin-left: 10px;
}

.left-side img {
    height: 50px;
    width: 50px;
}