.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 0;
}

.movie-card {
    background-color: #f1f1f1;
    height: auto;
    width: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.movie-title {
    text-transform: uppercase;
    height: 60px;
}

.movie-poster {
    height: 250px;
}

.movie-description {
    background-color: #ffffff;
    overflow-y: auto;
    height: 150px;
    border-radius: 20px;
    padding: 10px;
    font-size: 18px;
}

.movie-interactions {
    display: flex;
    justify-content: space-around;
}